<div class="status-bar">
    <!-- inject:../res/expression.svg -->
    <span>Idle.</span>
    <span style="flex-grow: 1;"></span>
    <symbol-toggle title="Toggle Source Editor Pane">
        <on-icon>
            <!-- inject:../res/pane0-open.svg -->
        </on-icon>
        <off-icon>
            <!-- inject:../res/pane0-closed.svg -->
        </off-icon>
    </symbol-toggle>
    <symbol-toggle title="Toggle Abstract Syntax Tree Pane">
        <on-icon>
            <!-- inject:../res/pane1-open.svg -->
        </on-icon>
        <off-icon>
            <!-- inject:../res/pane1-closed.svg -->
        </off-icon>
    </symbol-toggle>
    <symbol-toggle title="Toggle Intermediate Representation Pane">
        <on-icon>
            <!-- inject:../res/pane2-open.svg -->
        </on-icon>
        <off-icon>
            <!-- inject:../res/pane2-closed.svg -->
        </off-icon>
    </symbol-toggle>
    <symbol-toggle title="Toggle Assembly Pane">
        <on-icon>
            <!-- inject:../res/pane3-open.svg -->
        </on-icon>
        <off-icon>
            <!-- inject:../res/pane3-closed.svg -->
        </off-icon>
    </symbol-toggle>
    <symbol-toggle title="Toggle Executable Pane">
        <on-icon>
            <!-- inject:../res/pane4-open.svg -->
        </on-icon>
        <off-icon>
            <!-- inject:../res/pane4-closed.svg -->
        </off-icon>
    </symbol-toggle>
</div>
