my-articleselector {
    width: 100%;
}

.article-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
    .article-list hr {
        width: 100%;
        max-width: 700px;
        border: none;
        border-top: 1px solid #444;
        margin: 0;
    }

.article-item {
    cursor: pointer;
    background: var(--dark-background);
    border: 1px solid var(--dark-background-l);
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 700px;
    width: 50%;
    transition: all 100ms ease-in-out;
}
.article-item:hover {
    background: var(--dark-background-e);
    border-color: var(--dark-background-ll);
}

.my-custom-icon {
    border-radius: 0.5rem;
}

.article-header {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.article-title {
    margin: 0;
}

.article-desc {
    margin: 0;
    color: var(--dark-foreground-l);
}

.article-content-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    font-family: Georgia;
    width: 700px;
    max-width: 50%;
    margin: auto;
}
    .article-content-container hr {
        border: none;
        border-top: 1px solid var(--dark-background-e);
        margin: 2rem 0;
    }
    .article-content-container p {
        line-height: 1.5rem;
    }
    .article-content-container code {
        white-space: nowrap;
    }
    .article-content-container my-article-header {
        font-family: var(--global-font);
        margin: 1rem auto 2rem auto;
    }

my-article nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
