:root {
    color-scheme: dark;

    --corner-radius: 5px;
    --clickspot-width: 10px;

    --global-font: 'Consolas', 'Menlo', 'Cascadia Mono', monospace;

    --transform-size: 10000px;

    --chart-margin: 30px;
    --chart-gap: 2rem;
    --chart-radius: 0.5em;
    --chart-padding: 0.25rem;
    --chart-legend-minwidth: 120px;
    --chart-legend-minwidth-wide: 180px;
    --chart-spacing: 0.5rem;

    --chart-axis-color: #bbb;
    --chart-major-tick-color: #888;
    --chart-minor-tick-color: #aaa;
    --chart-label-color: #555;
    --chart-point-stroke: #fff;

    --chart-legend-color-size: 1.2em;
    --chart-legend-color-size-wide: 1.25rem;
    --chart-legend-color-radius: 0.25em;

    --chart-font-size-small: 9px;
    --chart-font-size-medium: 11px;

    /* Pie chart specific */
    --piechart-size: 200px;
    --piechart-radius: 40;

    --chart-faded-opacity: 0.3;
    --chart-faded-grayscale: 0.7;
    --chart-highlight-outline: 2px solid var(--accent);
    --chart-shadow: 0 0 1em #0008;
}

/* NOTE: supposedly, this is the highest-performance method to set global defaults for these rules */ 
html {
    font-family: var(--global-font) !important;
    box-sizing: border-box;
    overflow: hidden;
}

*, *::before, *::after {
    font-family: inherit;
    box-sizing: inherit;
    color-scheme: dark;
}

body {
    display: flex;
    flex-direction: column;
}

button, select, input, textarea {
    appearance: none;
    outline: none;
}

button {
    padding: 5px;
    background: var(--accent);
    transition: background-color 100ms ease-in-out;
    border-radius: var(--corner-radius);
    border: 1px solid var(--dark-background-l);
}
    button:hover {
        background: var(--accent-hovered);
    }
    button:active {
        background: var(--accent-selected);
    }

a {
    color: var(--secondary);
    text-decoration: none;
}
    a:hover {
        color: var(--secondary-hovered);
    }
    a:hover:visited {
        color: var(--accent-hovered);
    }
    a:visited {
        color: var(--accent);
    }


.logo {
    height: 100px;
    border-radius: 15px;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.emphasis {
    font-weight: 900;
    font-style: italic;
}

.shadowed {
    box-shadow: 0 0 1em #0008;
}
    .shadowed.hoverable:hover {
        box-shadow: 0 0 1em #000c;
    }
    .shadowed.hoverable:focus {
        box-shadow: 0 0 1em #000c;
    }
    .shadowed.hoverable:active {
        box-shadow: 0 0 1em #000c;
    }

body {
    background: var(--dark-background);
    color: var(--dark-foreground);
}

.title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: left;
    gap: 1rem;
    padding: 1rem;
    width: fit-content;
}

.title-container h1, span {
    margin: 0;
}

.body-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 2rem;
    padding: 10px 1rem;
    border-left: 4px solid var(--accent); 
    background: var(--dark-background-e);
    width: fit-content;
    border-radius: 0.5rem;
}
    blockquote p {
        margin: 0;
        color: var(--dark-foreground-l);
        font-style: italic;
    }

code {
    background: var(--dark-background-e);
    padding: 1px 3px;
    border: 1px solid var(--dark-background-l);
    border-radius: 3px;
}

main {
    display: grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
}
main > * {
    border: 1px solid var(--node-border);
    border-top-width: 1px;
}

.status-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--accent);
    height: 1rem;
    border-top: 1px solid var(--node-border);
}
    .status-bar svg {
        height: 1rem;
        width: 1rem;
    }

.home-tab {
}

.compiler-tab {
    overflow-y: hidden;
    border-top: 1px solid var(--node-border);
}
.compiler-tab pane-view {
    overflow-y: hidden;
}

program-tree {
    display: block;
    width: 100%;
    height: 100%;
}

#source-pane {
    z-index: 1000;
}

#source-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#ir-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#asm-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}


.card {
    position: relative;
    background: var(--dark-background);
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid var(--dark-background-ll);
    border-top-width: 2px;
    border-bottom-width: 2px;
    transition: 100ms border-color ease-in-out, 100ms background-color ease-in-out, 100ms box-shadow ease-in-out;
    box-shadow: 0 0 1em #0008, inset 0 0 1em rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
    .card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.10) 25%, transparent 100%);
        transition: 100ms opacity ease-in-out, 100ms background-color ease-in-out;
        opacity: 0.2;
        z-index: 1;
    }
    .card:hover::before {
        opacity: 0.3;
    }
    .card:hover {
        background: var(--dark-background-e);
        border-color: var(--dark-background-lll);
        box-shadow: 0 0 1em #000A, inset 0 0 1em rgba(0, 0, 0, 0.35);
    }

.card.interactive {
    padding: 0;
    transition: scale 200ms ease-in-out;
}
    .card.interactive:active {
        scale: 0.99 !important;
    }
    .card.interactive:hover {
        scale: 1.01;
    }
