:root {
    font-family: 'Consolas', 'Menlo', 'Cascadia Mono', monospace !important;
    color-scheme: dark;
}

:root {
    --corner-radius: 5px;
}

#root {
    display: flex;
    flex-direction: column;
}

* {
    font-family: 'Consolas', 'Menlo', 'Cascadia Mono', monospace !important;
}

button, select, input {
    appearance: none;
}

svg {
    fill: var(--dark-foreground) !important;
}
