source-editor {
    height: 350px;
    width: 100%;
    background: var(--dark-background-d);
    padding: 1rem;
    padding-left: 1rem;
    outline: none;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--node-border);
    border-bottom: 1px solid var(--node-border);
    transition: border-color 100ms ease-in-out;
    overflow:auto;    
}
    source-editor:focus {
        border-top-color: var(--accent);
    }
    source-editor pre {
        counter-reset: line;
    }
    source-editor code {
        display: flex;
        flex-direction: row; 
        counter-increment: line;
    }
    source-editor code:before {
        content: counter(line);
        padding-right: 1.5rem;
        color: var(--plain-text);
        width: 2rem;
        text-align: right;
    }

.editor-shell {
    position: relative;
    font-family: Consolas;
    height: 300px;
    * {
        font-size: 14pt;
    }
}
.highlight-layer, .input-layer {
    white-space: pre-wrap;
    word-break: break-word;
    padding: 8px;
    line-height: 1.5;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
}
.highlight-layer {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    pointer-events: none;
    z-index: 1;
    color: #ccc; /* color de resaltado */
    margin: 0;
    padding: 0;
}
.input-layer {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: 0 0 0 2rem;
    padding: 0;
    background: transparent;
    /* color: transparent; */
    caret-color: var(--accent);
    z-index: 2;
    outline: none;
    user-select: none;
}