.tabs-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 5rem;
    width: 100%;
}

.tabs-content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: absolute;
    width: 100%;
}

.tabs-header {
    flex-shrink: 0;
}


.page {
    width: 100%;
    display: none;
}
    .page.active {
        display: flex;
    }

.tab-radio-wrapper label {
    color: var(--accent-selectable);
    transition: color 100ms ease-in-out;
    padding: 5px;
    font-size: 24pt;
    font-weight: bold;
}
    .tab-radio-wrapper label:hover {
        color: var(--accent-hovered);
        cursor: pointer;
    }
    .tab-radio-wrapper input[type="radio"]:checked~label {
        color: var(--accent-selected);
        text-decoration: underline;
    }
    .tab-radio-wrapper input[type="radio"]:checked~label:hover {
        color: var(--accent-hovered);
        text-decoration: underline;
        cursor: pointer;
    }