.tabs {
    display: flex;
    gap: 10px;
}

.page {
    display: none;
}
    .page.active {
        display: block;
    }

.tab-radio-wrapper label {
    background: var(--accent);
    transition: background-color 100ms ease-in-out;
    padding: 5px;
}
    .tab-radio-wrapper label:hover {
        background: var(--accent-hovered);
    }
    .tab-radio-wrapper input[type="radio"]:checked~label {
        background: var(--accent-selected);
    }