:root {
    /* CODE STYLES */
    --comment: rgb(107, 164, 85);
    --label: rgb(166, 113, 189);
    --local-variable: rgb(145, 207, 250);
    --global-variable: rgb(102, 208, 210);
    --preprocessor: rgb(255, 200, 255);
    --macro: rgb(189, 183, 250);
    --enum-member: rgb(190, 214, 168);
    --namespace: rgb(181, 221, 204);
    --template-parameter: rgb(137, 219, 172);
    --function-parameter: rgb(154, 154, 154);
    --class-type-templated: rgb(113, 198, 177);
    --class-type: rgb(137, 219, 172);
    --control-keyword: rgb(200, 146, 214);
    --keyword: rgb(103, 154, 209);
    --operator: rgb(150, 197, 219);
    --operator-overloaded: rgb(246, 202, 252);
    --field: rgb(196, 207, 242);
    --static-field: rgb(212, 175, 55);
    --function: rgb(211, 211, 157);
    --function-templated: rgb(221, 221, 174);
    --static-method: rgb(171, 239, 167);
    --string: rgb(175, 219, 159);
    --integer-literal: rgb(186, 205, 171);
    --plain-text: rgb(160, 222, 255);
    /* UI STYLES */
    --dark-background-d: rgb(30, 30, 30);
    --dark-background: rgb(40, 40, 40);
    --dark-background-e: rgb(50, 50, 50);
    --dark-background-l: rgb(69, 69, 69);
    --dark-background-ll: rgb(80, 80, 80);
    --dark-foreground: rgb(230, 230, 230);
    --dark-foreground-l: rgb(180, 180, 180);
    --dark-foreground-ll: rgb(130, 130, 130);
    --light-background-d: rgb(220, 220, 220);
    --light-background: rgb(240, 240, 240);
    --light-background-e: rgb(250, 250, 250);
    --light-background-l: rgb(200, 200, 200);
    --light-background-ll: rgb(170, 170, 170);
    --light-background-lll: rgb(140, 140, 140);
    --light-foreground: rgb(50, 50, 50);

    --node-border: var(--dark-background-ll);


    --purple: rgb(143, 132, 215);
    --blue: rgb(56, 114, 186);

    --secondary: var(--blue);
    --secondary-hovered: color-mix(in srgb, var(--blue) 80%, black);
    --secondary-selected: color-mix(in srgb, var(--blue) 80%, white);
    --secondary-selectable: color-mix(in srgb, var(--blue) 50%, white);

    --accent: var(--purple);
    --accent-hovered: color-mix(in srgb, var(--purple) 80%, black);
    --accent-selected: color-mix(in srgb, var(--purple) 80%, white);
    --accent-selectable: color-mix(in srgb, var(--purple) 50%, white);


    --haze-color-shadow: rgb(40, 80, 130);
    --haze-color-foreground-top: rgb(150, 197, 219);
    --haze-color-foreground-bottom: rgb(50, 100, 160);
    --haze-color-background-top: rgb(103, 154, 209);
    --haze-color-background-bottom: rgb(143, 132, 213);

    --preprocessor-color-shadow: rgb(23, 26, 176);
    --preprocessor-color-foreground-top: rgb(181, 221, 255);
    --preprocessor-color-foreground-bottom: #6890ff;
    --preprocessor-color-background-top: rgb(90, 100, 255);
    --preprocessor-color-background-bottom: rgb(10, 51, 123);

    --lexer-color-shadow: rgb(130, 60, 40);
    --lexer-color-foreground-top: rgb(255, 204, 128);
    --lexer-color-foreground-bottom: rgb(255, 183, 77);
    --lexer-color-background-top: rgb(255, 112, 155);
    --lexer-color-background-bottom: rgb(255, 138, 101);

    --parser-color-shadow: rgb(60, 40, 75);
    --parser-color-foreground-top: #bd9bdf;
    --parser-color-foreground-bottom: #9e7fea;
    --parser-color-background-top: #8221EB;
    --parser-color-background-bottom: #341664;

    --ast-color-shadow: rgb(36, 66, 40);
    --ast-color-foreground-top: rgb(193, 236, 200);
    --ast-color-foreground-bottom: rgb(129, 196, 142);
    --ast-color-background-top: rgb(90, 160, 102);
    --ast-color-background-bottom: rgb(25, 81, 37);

    --tac-color-shadow: rgb(89, 89, 41);
    --tac-color-foreground-top: rgb(215, 197, 167);
    --tac-color-foreground-bottom: rgb(255, 193, 107);
    --tac-color-background-top: rgb(255, 172, 70);
    --tac-color-background-bottom: rgb(111, 57, 14);

    --ir-color-shadow: rgb(35, 40, 65);
    --ir-color-foreground-top: rgb(160, 174, 255);
    --ir-color-foreground-bottom: rgb(198, 205, 255);
    --ir-color-background-top: rgb(90, 100, 160);
    --ir-color-background-bottom: rgb(39, 48, 124);

    --peephole-color-shadow: rgb(70, 90, 80);
    --peephole-color-foreground-top: rgb(225, 235, 225);
    --peephole-color-foreground-bottom: rgb(195, 215, 205);
    --peephole-color-background-top: rgb(165, 185, 170);
    --peephole-color-background-bottom: rgb(56, 69, 63);

    --codegen-color-shadow: rgb(0, 96, 100);
    --codegen-color-foreground-top: rgb(181, 225, 245);
    --codegen-color-foreground-bottom: rgb(124, 190, 196);
    --codegen-color-background-top: rgb(69, 194, 219);
    --codegen-color-background-bottom: rgb(40, 74, 153);

    --link-color-shadow: rgb(89, 89, 41);
    --link-color-foreground-top: rgb(252, 187, 224);
    --link-color-foreground-bottom: rgb(226, 143, 208);
    --link-color-background-top: rgb(220, 138, 215);
    --link-color-background-bottom: rgb(74, 47, 71);

    --lto-color-shadow: rgb(89, 89, 41);
    --lto-color-foreground-top: rgb(208, 181, 135);
    --lto-color-foreground-bottom: rgb(180, 151, 85);
    --lto-color-background-top: rgb(219, 164, 12);
    --lto-color-background-bottom: rgb(95, 73, 11);

    --executable-color-shadow: rgb(60, 90, 95);
    --executable-color-foreground-top: rgb(210, 225, 210);
    --executable-color-foreground-bottom: rgb(170, 235, 210);
    --executable-color-background-top: rgb(170, 230, 215);
    --executable-color-background-bottom: rgb(77, 108, 114);
}

.keyword {
    color: var(--keyword);
    font-style: italic;
    font-weight: bold;
}
