:root {
    --node-border: var(--dark-background-ll);
}

.node {
    margin: 1rem;
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    background: none;
    border-radius: var(--corner-radius);
}

.node-header {
    font-size: 8pt;
    width: 100%;
    border-radius: var(--corner-radius) var(--corner-radius) 0 0;
    border: 1px solid var(--node-border);
    background: var(--keyword);
    display: flex;
    flex-direction: row;
    align-items: center;
}
    .node-header .node-icon {
        height: 15px;
        padding: 0 1px;
    }

.node-body {
    border-radius: 0 0 var(--corner-radius) var(--corner-radius);
    border: 1px solid var(--node-border);
    border-top: none;
    background: var(--dark-background-e);
    flex: 1;
    width: 100%;
}

.node-clickspot-container {
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
    .node-clickspot-container.left {
        left: 0;
        top: 0;
        transform: translateX(-50%);
    }
    .node-clickspot-container.right {
        right: 0;
        top: 0;
        transform: translateX(50%);
    }


button:hover {
    filter: brightness(80%);
}

.node-clickspot {
    aspect-ratio: 1 / 1;
    width: var(--clickspot-width);
    background: var(--light-background-d);
    border: dashed 1px var(--light-background-ll);
    border-radius: 50%;
}
    .node-clickspot.connected {
        background: var(--accent);
        border-color: var(--accent-hovered);
    }
